.body{
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.form-control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center
}
